body{

margin:0;
padding:0;

background:#67b7ff;

font-family:Arial;

}

#app{

text-align:center;

}

#header{

display:flex;

justify-content:space-around;

padding:20px;

background:white;

font-size:22px;

font-weight:bold;

}

#wheel{

margin-top:80px;

}

#spinButton{

width:220px;

height:220px;

border-radius:50%;

font-size:40px;

border:none;

background:gold;

cursor:pointer;

}

#result{

margin-top:40px;

font-size:32px;

font-weight:bold;

}

#wheel{

position:relative;

width:320px;

margin:60px auto;

}

#wheelImage{

width:320px;
height:320px;

transition:transform 4s cubic-bezier(.17,.67,.15,1);

}

#wheelImage{

width:300px;
height:300px;

border-radius:50%;

margin:auto;

background:conic-gradient(
gold,
orange,
red,
purple,
blue,
green,
gold
);

position:relative;

transition:transform 4s;

}


.sector{

position:absolute;

font-size:35px;

}

#village{

margin-top:50px;

background:#5fc35f;

padding:20px;

border-radius:20px;

}

#building{

font-size:100px;

margin:20px;

}

#buildButton{

padding:15px 30px;

font-size:20px;

border-radius:15px;

background:#ffd700;

border:none;

}
.building{

display:inline-block;

background:#7bdc7b;

padding:20px;

margin:10px;

border-radius:20px;

}


.building div{

font-size:70px;

}
#dailyBonus{

margin:30px;

background:#fff3a3;

padding:20px;

border-radius:20px;

}
#attack{

margin:30px;

background:#ffaaaa;

padding:20px;

border-radius:20px;

}
#defense{

margin:30px;

background:#aaddff;

padding:20px;

border-radius:20px;

}
#raid{

margin:30px;

background:#d8b07a;

padding:20px;

border-radius:20px;

}
#progressBox{

width:80%;

height:25px;

background:#ddd;

border-radius:20px;

margin:20px auto;

overflow:hidden;

}


#progressBar{

height:100%;

width:0%;

background:gold;

}


#progressText{

font-size:20px;

font-weight:bold;

}
#unlockVillage{
  
  display:none;

padding:15px 25px;

font-size:20px;

border-radius:15px;

background:#ffd700;

border:none;

margin:20px;

}

.villaggioVerde{

background:#5fc35f;

}


.isolaMisteriosa{

background:#4fc3f7;

}


.regnoGhiacci{

background:#b3e5fc;

}


.cittaOro{

background:
linear-gradient(
180deg,
#ffd54f,
#ffb300
);

}

#popupPremio{

display:none;

position:fixed;

top:0;
left:0;

width:100%;
height:100%;

background:rgba(0,0,0,0.7);

z-index:9999;

justify-content:center;

align-items:center;

}


#popupBox{

background:white;

width:80%;

max-width:350px;

padding:25px;

border-radius:20px;

text-align:center;

box-shadow:0 0 20px gold;

animation:entraPopup 0.3s;

}


#popupBox h2{

font-size:28px;

margin-bottom:15px;

}


#popupBox p{

font-size:20px;

}


#chiudiPopup{

margin-top:20px;

padding:12px 30px;

border:none;

border-radius:15px;

font-size:18px;

background:#ffcc00;

cursor:pointer;

}


@keyframes entraPopup{

from{

transform:scale(0.5);

opacity:0;

}

to{

transform:scale(1);

opacity:1;

}

}

.sector{
position:absolute;
font-size:35px;
width:50px;
height:50px;
display:flex;
align-items:center;
justify-content:center;
}


/* posizione premi ruota */

.s1{
top:20px;
left:125px;
}

.s2{
top:75px;
right:35px;
}

.s3{
bottom:75px;
right:35px;
}

.s4{
bottom:20px;
left:125px;
}

.s5{
bottom:75px;
left:35px;
}

.s6{
top:75px;
left:35px;
}

#freccia{

position:absolute;
top:-35px;
left:135px;

font-size:50px;
color:red;

z-index:10;

}

#slotMachine{

margin:60px auto;
width:330px;

background:#8b4513;

padding:25px;

border-radius:25px;

box-shadow:0 0 20px gold;

}


.slotWindow{

display:flex;

justify-content:center;

gap:10px;

background:#111;

padding:20px;

border-radius:15px;

overflow:hidden;

}


.rullo{

width:80px;

height:100px;

background:white;

border-radius:15px;

display:flex;

align-items:center;

justify-content:center;

font-size:50px;

box-shadow:inset 0 0 10px #999;

}


#spinButton{

margin-top:25px;

width:180px;

height:70px;

border-radius:20px;

font-size:25px;

background:gold;

border:none;

font-weight:bold;

cursor:pointer;

}